*{
margin: 0;
padding: 0;
font-style: Italic;
}
header{
  background-image: url(001.jpg);
  height: 150vh;
  background-size: cover;
  background-position: center;
}
ul{
float: right;
margin-top: 35px; 
margin-right: 25px;
}
ul li{
display: inline-block;
}
ul li a{
text-decoration: none;
color: white;
padding: 7px 17px;
transition: 0.8s ease;
}
li a:hover{
background-color: white;
color: black;
}
.title {
color:white;
font-size: 320%;
position: absolute;
top: 10%;
left: 30%;
}
li a.active{
background-color: white;
color: black;
}
.logo img{
float: left;
width: 150px;
opacity: 0.5;
}
input[type=text]{  
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 3px solid #ccc;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  outline: none;
}
input{   
  border: 3px solid #ccc;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  outline: none;
background-image: url(001.jpg);
}
input[type=number]{
width: 40%;
}
input[type=button]{
width: 20%;
height: 50px;
color: white;
}
input[type=date]{
width: 30%;
}
button{
color: blue;
}
